 <header id="header" role="banner">
        <div class="navbar-fixed">
          <nav>
            <div class="container">
              <div class="nav-wrapper">

                <!-- LOGO -->

                <!-- TEXT BASED LOGO -->
                <a href="index.html" class="brand-logo">OugaSoft</a>

                <!-- Image Based Logo -->                
                 <!-- <a href="index.html" class="brand-logo"><img src="img/logo.jpeg" alt="logo img"></a>  -->
                <ul class="right hide-on-med-and-down custom-nav menu-scroll">
                  <li><%=link_to("About Me","#about")%> </li>
                  <li><%=link_to("Resume","#resume")%></li>
                  <li><%=link_to("Portfolio","#portfolio")%></li>
                  <li><%=link_to("Testimonial","#testimonial")%></li>
                  <li><%=link_to("Blog","#blog")%></li>
                  <li><%=link_to("Contact","#footer")%></li>
                </ul>
                <!-- For Mobile View -->
                <ul id="slide-out" class="side-nav menu-scroll">
                  <li><%=link_to("About Me","#about")%> </li>
                  <li><%=link_to("Resume","#resume")%></li>
                  <li><%=link_to("Portfolio","#portfolio")%></li>
                  <li><%=link_to("Testimonial","#testimonial")%></li>
                  <li><%=link_to("Blog","#blog")%></li>
                  <li><%=link_to("Contact","#footer")%></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              </div>
            </div>
          </nav>
        </div>  
      </header>